.body-container {
    padding-top: 1%;
    display: grid;
    grid-template-areas: 
    "header"
    "content";
    grid-row-gap: 1%;
}

.body-area-header{
    text-align: center;
    font-weight: bold;
    grid-area: header;
}

.body-area-content {
    grid-area: content;
}

.resource-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-left: 1rem;
    padding-right: 1rem;
}

.condition-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.condition-item {
    width: 30%;
    margin-bottom: 15px;
}

.condition-header {
    text-align: center;
    font-weight: bold;
    font-size: 15pt;
}

.card-font {
    font-size: 150%;
    font-weight: "bold";
}